<!DOCTYPE html>

<html>
	<head>
		<title>Calc</title>
	</head>
	<body>
		<form action="/Calc/Forms" method="post">
			<p>Первое значение<input type="number" name="Xvalue"  /></p>
			<p>Второе значение<input type="number" name="Yvalue"  /></p>
			<input type="submit" value="+" name="action"/>
			<input type="submit" value="-" name="action"/>
			<input type="submit" value="*" name="action"/>
			<input type="submit" value="/" name="action"/>
		</form>
	</body>
</html>